[submodule "db/test_db"]
	path = db/test_db
	url = https://github.com/datacharmer/test_db.git
	ignore = dirty
[submodule "parallel_prog/pagerank"]
	path = parallel_prog/pagerank
	url = git@github.com:lionell/pagerank.git
[submodule "sys_prog/syntax-analyzer"]
	path = sys_prog/syntax-analyzer
	url = git@github.com:lionell/syntax-analyzer.git
[submodule "crypto/pollard"]
	path = crypto/pollard
	url = git@github.com:lionell/pollard.git
[submodule "it"]
	path = it
	url = git@github.com:lionell/pgapps.git
