[submodule "db/test_db"]
	path = db/test_db
	url = https://github.com/datacharmer/test_db.git
	ignore = dirty
[submodule "crypto/pollard"]
	path = crypto/pollard
	url = git@github.com:lionell/pollard.git
[submodule "it"]
	path = it
	url = git@github.com:lionell/pgapps.git
[submodule "sys_prog/monkey-in-java"]
	path = sys_prog/monkey-in-java
	url = git@github.com:lionell/monkey-in-java.git
[submodule "parallel_prog"]
	path = parallel_prog
	url = git@github.com:lionell/pagerank.git
